{% extends "main/layout.html" %}

{% block content %}
    {% load staticfiles %}

    <img class="imageFormat" src="http://achievementmotivationgroup.com/graphics/corporate-success.jpg" />

    <h1 class="headerFormat">Welcome to CorpGames!</h1><br>

    <h3>Who are we?</h3><br>

    <p>
        We are a website that is specially created to improve skills that businesses demand, but are not taught in the
        lecture hall.  We want to teach you skills such as leadership, communication, teamwork, and listening in a
        fun and stress free environment.
    </p><br>

    <h3>How do we educate?</h3><br>

    <p>
        Our process for teaching involves a series of fun, interactive games.  Each game has a different focus area
        and some games combine these areas for a greater overall challenge.  Most games are multiplayer, so we utilize
        chatrooms to ensure that every player can interact with each other.  We aim to disguise real challenges that
        occur in the corporate world inside of these games so you can learn how to handle them in a stress free
        environment.
    </p><br>

    <h3>How do you sign up?</h3><br>

    <p>
        Register in the upper right-hand corner to start playing today!  There is zero cost affiliated with signing up,
        we just want some basic information to let you know of updates to our site and for statistical reasons.
    </p>

{% endblock %}