/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
	font-style: normal;
    font-family: sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header */
header {
    padding: 20px 0;
    margin: 0 0 40px 0;
    background: #5778C4;
    color: #fff;
}

header h1 {
    width: 800px;
    margin: 0 auto;
    font-size: 40px;
}

header a {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #fff;
}

/* Body */
section {
    width: 800px;
    margin: 0 auto;
}

p {
    margin: 1em 0 2em 0;
}

.message{
	font-style: normal;
	padding-bottom: 10px;
}

.empty {
    color: #666;
    font-style: italic;
}

.rooms li {
	color: #999999;
    padding: 5px 7px;
    background: #101010;
    display: inline;
    position: relative;
    left: -42px;
    margin: 5px 2px;
    border-radius: 2px;
    cursor: pointer;
}

.rooms li.joined {
	color: #101010;
    background: #999999;
}

#chats .room {
    padding: 2px;
    margin: 15px 0 0 0;
}

#chats h2 {
    color: #EEEEEE;
    background-size: 
    border-radius: 2px;
    margin: 2px 0 5px 0;
    font-size: 16pt;
}

#chats .messages {
    height: 200px;
    overflow: auto;
    background: #eee;
    border-radius: 2px;
    margin: 5px 0 10px 0;
    padding: 3px 3px 3px 3px;
}

#chats .username {
	width: 100%;
	padding-bottom: 5px;
    display: inline-block;
    color: #C07A36;
}

#chats .body {
	padding-left: 10px;
	word-wrap: normal;
}

#chats .contextual-message {
    text-align: center;
    margin: 5px 5px 5px 5px;
}

#chats .text-muted {
    opacity: .6;
    font-style: italic;
}

#chats .text-danger {
    color: #a94442;
    font-weight: bold;
}

#chats .text-warning {
    color: #DCAD5C;
    font-weight: bold;
    font-style: italic;
}

input {
	border-radius: 2px;
	border: none;
	padding: 3px 0px 2px 0px;
}

button {
	color: #999999;
	background-color: #101010;
	padding: 5px 10px 5px 10px;
	border: none;
	border-radius: 2px;
	position: relative;
	left: 5px;
}