{% extends "main/layout.html" %}

{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/content/gameRules.css' %}" />
    <list>
        <ol>
            <li>

            </li>
            <br>
            <li>

            </li>
            <br>
            <li>

            </li>
            <br>
            <li>

            </li>
        </ol>
    </list>

    <br><br>

    <a href="{% url 'game:index' %}" class="btn">
        <strong>Play Game!</strong>
    </a>

    <a href="{% url 'index' %}"  class="btn">
        Go Back
    </a>

{% endblock %}