{% extends "main/layout.html" %}

{% block content %}
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/content/gameRules.css' %}" />

    <h1 class="headerFormat">Goal:</h1><br>

    <p class="paragraphFormat">
        You and 3 others are tasked with completing the design and implementation of a room.
    </p><br>

    <h1 class="headerFormat">Description:</h1><br>

    <p class="paragraphFormat">
        You will have two weeks (game time) to complete your project.  Each day you will have 8 hours to fill with
        commitments.  You can either complete tasks or study.  Each task will have a category associated with it.
        Studying a certain category will increase the speed at which you can complete tasks of that category.
    </p><br>

    <h1 class="headerFormat">Rules and Tips:</h1><br>

    <list>
        <ul>
            <li>
                You must fill up 8 hours of your schedule.  No more, no less.
            </li>
            <br>
            <li>
                Game is over when goal is accomplished or when time is up.
            </li>
            <br>
            <li>
                You win by accomplishing the goal.  You lose by running out of time
            </li>
            <br>
            <li>
                Random variables will be inserted into game play.  Be wary.
            </li>
        </ul>
    </list>

    <br><br>

    <a href="{% url 'game:index' %}" class="btn">
        <strong>Play Game!</strong>
    </a>

    <a href="{% url 'index' %}"  class="btn">
        Go Back
    </a>

{% endblock %}